
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 
.body{
    max-width: 1140px;
    margin: 30px auto;
}
                           /* nav section */
.nav{
    display: flex;
   justify-content: space-between;
}
.nav ul{
    display: flex;
}
.home{
    color: #252432;
    width: 46px;
    height: 24px;
}
.shop-aboutus{
    color: #8987A1;
}
.cart{
    color: #000000;
    width: 79px;
    height: 24px;
}
.nav ul li{
    list-style: none;
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
}
                          /* banner section */
.banner{
    display: flex;
    margin-top:120px;
}
.fresh{
    color: #E95A08;
    width: 517px;
    height: 89px;
}
.always{
    color: #000000;
    width: 517px;
    height: 89px;
}
.banner-discriptipn{
    color:#8987A1 ;
}
.banner-text{
    margin-top: 150px;
}
                  /* section plants */
.plants-header{
    justify-content: center;
    text-align: center;
}
.plants-h{
    justify-content: center;
    text-align: center;
}
.plants{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plants-title{
    text-align: center;
}
.plants-price{
    text-align: center;
}
.button{
    width: 100%;
    background-color:#E95A08 ;
    color: white;
    padding: 20px 80px;
}
.lover{
    display: flex;
    margin-top: 50px;
}
.flower{
    margin-left: 20px;
}
.flower ul{
    color: #8987A1;
}
.latest{
    text-align: center;
}
.baz{
    color: #FFFFFF;
}
.bloom-ana-zabo{
    display: flex;
    justify-content: space-between;
    
    gap: 28px; 
}
.bloom-ana{
    
}
.div-bloom{
    background-image:url(/assets/deal-bloom.png);
    width: 400px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
}
.div-ana{
    background-image: url(/assets/deal-ana.png);
        width: 400px;
        height: 200px;
    border-radius: 20px;
        align-items: center;
    justify-items: center;
    justify-content: center;
    
}
.zabo{
    background-image: url(/assets/deal-zabo.png);
    width: 350px;
    padding: 30px;
    border-radius: 20px;
        align-items: center;
    justify-items: center;
    justify-content: center;
}
.bg-img{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/news-letter-bg.png);
    width: 100%;
    height: 533px;
}
.join{
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
}
.bg-text{
    color:#FFFFFF ;
}
.input{
padding: 10px 50px;

}
.subscribe{
    color: white;
    background-color: #E95A08;
    padding: 10px 50px;

}
.div-all{
display: flex;
justify-content: space-between;
}
.div-2{
align-items: center;
display: block;
}
.div-3 li, .div-2 li{
    list-style: none;
    margin: 0px 62px 32px 0px;
}
.div-3 li a, .div-2 li a{
    text-decoration: none;

}
.div-4{
   justify-items:center;  
}

@media screen and (max-width: 576px){
  .close{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    margin-left: 50px;
  }
  .plants{
    
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }
  .plants img{
    width: 100%;
  }
  .lover{
    flex-direction: column;
    margin-left: 20px;
  }
  .latest{
    margin-left: 20px;
  }
.bg-img{
    flex-direction: column;

  } 
  .bg-img img{
    width: 100%;

  }
   .bg-text{
    width: 100%}
    .input{
        width: 50px;
        
    }  
    .div-all{
        flex-direction: column;
        margin-left: 20px;
    }
    .bloom-ana-zabo{
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}




